@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family:'android';
    src: url('fontes/idroid.otf'); format('opentype');
    font-weight: normal;
}

:root{
    --cor0: #e9d7ba;
    --cor1: #a2f0c6e1;
    --cor2: #51ad7c;
    --cor3: #31b46ed3;
    --cor4: #50bd838c;
    --cor5: #08662f;
    --cor6: #093b1e;
    --cor7: #04391a;
    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: "android", sans-serif;

}

body{
    font-family:var(--fonte-padrao);
    background-color: var(--cor0);
    margin: 0;
}

a.external::after{
    content: "\1F517";
    
}

header {
    background-image: linear-gradient(to bottom, #2aa663, #04391a); 
    width: auto;
     margin:0;
    padding: 15px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.384);
    padding-bottom: 7px;
}

header > h1 , p {
    color: white;
    text-align: center;
    font-weight: normal;
}

header>h1{
    margin-top: 50px; 
    margin-bottom: 10px;
    font-family: var(--fonte-destaque); 
    font-size: 3.0em;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.452);
}

header>p{
    margin-bottom: 70px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.452);
}

header>nav>a{ 
     color: var(--cor1);
     margin-left: 15px;
     padding-bottom: 1px; 
     padding:8px;
     text-decoration: none; 
     font-weight: bold;
    }

header>nav>a:hover{
    background-color: var(--cor4);
    border-radius: 3px;
    padding: 8px;
    color: var(--cor7);
    transition-duration: 0.5s;
}

main{
    background-color: white; 
    margin: auto; 
    margin-bottom: 90px;
    padding: 5px 20px 30px 20px;
    min-width: 280px;
    max-width: 1050px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

main>h1{
    color: var(--cor7); 
    text-indent: 20px; 
    font-family: var(--fonte-android);
}

main>p{
    color: black; 
    text-indent: 20px; 
    text-align: justify;
    margin: 30px 10px;
    line-height: 1.4em;
}

main>h2{
    color: var(--cor5);
    background-image: linear-gradient(to right, var(--cor1), transparent); 
    margin:20px; 
    text-indent: 8px; 
    font-family: var(--fonte-android);
    font-size: 1.4em;
    border-radius: 3px;
}

.destaque>a{
    color: var(--cor6);
    background-color: var(--cor3); 
    padding:2px ; 
    text-decoration: none;
    font-weight: bold;
    border-radius: 2px;
}

.destaque>a:hover{
    text-decoration: underline;
}

.video{
    background-color: var(--cor6);
    text-align: center; 
    padding: 20px;
    margin: 50px -20px;
}
.video>iframe{
    width: 100%;
    max-width: 1100px;
    height: auto;
    aspect-ratio: 16 / 9
}

img{width: 100%;}

main img.pq{
    max-width: 350px;
    display: block;
    margin: auto;}

.fim{
    background-color: var(--cor4);
    border-radius: 15px;   
    padding: 0px 0px 0px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);}

    .fim>ul{
        list-style-type: '\2714\00A0\00A0';
        columns: 2;
        font-family: var(--fonte-padrao);
}


.fim>h3{
    background-color: var(--cor5);
    padding: 10px 15px 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    
}

.fim p{
        color:black;
}

.final{
        margin: 70px 20px;
}

footer>p{
    background-color:var(--cor6);
    width: auto;
    height: 23px;
    margin: 0px;
    text-align: center;
    padding-top: 10px;
    }
