@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

body{background-color: #efefe2;}

header > p {font-size: 1.3em;display: inline;margin-left: 7px; font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;}
    header > p:hover {color: #D0B4F4;text-decoration: underline;}

header {margin: auto; width: 800px; margin-top: 35px; margin-bottom: 80px;}

span{margin-left: 140px;}
.log{margin-left: 40px;}
main > h1 {font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: inherit;
  font-variation-settings:
    "wdth" 100;
font-size: 4.0em;margin-bottom:3px ;margin-top: 50px;}


    main > h2 {font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 850;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;margin-top: 3px;}


    main > h3 {font-family: "Dela Gothic One", sans-serif;
  font-weight: 400; font-style: normal;font-size: 4.7em;background-color: #efefe2;width:500px;padding: 90px 140px;border:4px solid black;border-radius: 15px; margin: 75px auto 10px auto;}


  main{background-color:#ffc52f ;padding: 20px;text-align: center;border:7px solid black;border-radius: 15px;box-shadow: 15px 15px 0px; width:780px; margin: auto;}

  footer>p{font-family: "Archivo", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; font-size: 1.6em; text-align: center;margin-top: 50px;}

