@charset "UTF-8";
body{min-height: 100vh;background-image: linear-gradient(50deg,#000000 15%,#06011d,#1a0125); }
{font-family: Arial, Helvetica, sans-serif; }
p{text-align: justify; }
main;margin: auto;border-radius: 15px;box-shadow:10px 10px 15px #7a399aab;}
h1{color: #7A399A;{background-color: white; width: 1000px; padding: 10px text-align: center;text-shadow: 1px 1px 2px #1a0125b7;}
h2{color:#BD256D; }
p{ }